
body {
    background-color: lightblue;
}
#hair {
  width: 60%;
  margin-left: 25%;
  margin-top: -10%;
  border-radius: 100px;
  position: fixed;
  height: 10%;
}
#hairleft {
  width: 47%;
  margin-left: -2%;
  border-radius: 100px;
  position: fixed;
  height: 25%;
  background-color: #543f21;
}
#hairmiddle {
  width: 20%;
  margin-left: 35%;
  border-radius: 100px;
  position: fixed;
  height: 15%;
  background-color:#543f21;
}
#hairright {
  width: 14%;
  margin-left: 47%;
  border-radius: 100px;
  position: fixed;
  height: 20%;
  background-color: #543f21;
}
#head {
    width: 60%;
    margin-left: 25%;
    border-radius: 100px;
    margin-top:10%;
    height: 90%;
}
.skin {
    background-color: #ffe4bf;
}
#theEyes {
  text-align: center;
  padding: 0px;
}
.eye {
  width: 20%;
  border-radius: 50px;

}
.eye p {
  font-size: 20px;
  color: brown;

}

button {
    padding: 10px;
    border: solid 3px;
    margin: 6vw;
    height: 80px;
    width: 150px;
    border-radius: 10px;

}

button:hover {
    background-color: red;
    color: white;
    font-size: 50px;
}
#theNose {
  margin-bottom: 15%;
  width:100%;
}

#theNoseLeftOutline {
  height: 25%;
  width: 5px;
  margin-left:40%;
  margin-right: auto;
  margin-bottom: 50px;
  transform: rotate(10deg);
  background-color: #ffd396;

}
#theNoseBottomLeftCurve {
  height: 50px;
  width: 5px;
  margin-left:38%;
  margin-right: 1%;
  margin-top: -4%;
  transform: rotate(125deg);
  background-color: #ffe4bf;
  float: left;
  display: inline-block;
}
#theNoseBottomLeftOutline {
  height: 20px;
  width: 5px;
  margin-left:5%;
  margin-right: 0%;
  transform: rotate(95deg);
  background-color: #bf9e6f;
  float: left;
  display: inline-block;
}
#theNoseBottomRightOutline {
  height: 20px;
  width: 5px;
  margin-left:0%;
  margin-right: 48%;
  transform: rotate(85deg);
  background-color: #bf9e6f;
  float: right;
  display: inline-block;
}
#theNoseBottomRightCurve {
  height: 50px;
  width: 5px;
  margin-left:0%;
  margin-right: 41%;
  margin-top: -7%;
  transform: rotate(55deg);
  background-color: #ffe4bf;
  float: right;
  display: inline-block;
}
#theMouth {
    background-color: pink;
    display: flex;
    justify-content: center;
    width:30%;
    margin-left:35%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10%;
}

#theMouth p {
    background-color: white;
    padding: 20px;
}


.theTeeth {
    flex-grow: 1px;
    margin: 0px;
}
