body {
  scroll-behavior: smooth;
}
@font-face {
  font-family: standard;
  src: url(fonts/PublicSans-Regular.otf);
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-cursor {
   display: inline-block;
   width: 2px;
   background-color: black;
   margin-left: 8px;
 }
 @keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}
.input-cursor {
  animation: blink .6s linear infinite alternate;
}


/* menu */
.topnav {
  background-color: transparent;
  overflow: hidden;
  margin-left: 1%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  text-decoration: underline;
}

a {
  font-family: standard;
}

.text-container {
  font-family: standard;

}
