
html {
  scroll-behavior: smooth;

 }
body {
    margin-left: -0.6%;
}
@font-face {
  font-family: cute;
  src: url(fonts/mungil-regular-webfont.woff);
}
ul {
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b705c;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: cute;
  font-size: 27px;
}

li {
  float: left;
  width: 150px;
  /*border-right: 1px solid #bbb; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3f4238;
}

.active {
  background-color: #3f4238;
}

.main-body {
  background-color: #b7b7a4;
  width: 100%;
}

h1 {
  font-family: cute;
  text-align: center;
  font-size: 100px;
}

h2 {
  font-family: cute;
  text-align: center;
  color: #736246;
  font-size: 2.5vw;
}
p {
  font-family: cute;
  font-size: 2vw;
  color: #3f4238;
}
.text-blob {
  background-color: #ad9e84;
  width: 35%;
  margin-left: 30%;
  border-radius: 40px;
  padding: 2.5vw;
  margin-top: 3%;
}

#bottom-arrow {
  position: fixed;
  top: 90%;
  left: 95%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #3f4238;

}
#music-container {
  width: 90%;
  margin-left: 6%;
}
.music-type-containers {
  display: grid;
  grid-column-gap: 1.5vw;
  grid-row-gap: 5vh;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 10%;
}
#res-container {
  width: 90%;
  margin-left: 0%;
}
.resources-type-containers {
  display: grid;
  grid-column-gap: 0vw;
  grid-row-gap: 1vh;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 10%;
}
.res-blob {
  background-color: #9c7968;
  width: 15vw;
  margin-left: 30%;
  border-radius: 40px;
  padding: 2.5vw;
  margin-top: 3%;
}
.music-thumbnail {
  width: 90%;
  border-radius: 30px;
}
.music-thumbnail:hover {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
